aiosqlite
anyio
asgiref
certifi
charset-normalizer
click
colorama
databases
dnspython
docopt
email-validator
fastapi
greenlet
h11
httptools
idna
itsdangerous
Jinja2
MarkupSafe
orjson
pip
pipreqs
praw
prawcore
pydantic
python-dotenv
python-multipart
PyYAML
requests
setuptools
six
sniffio
SQLAlchemy

starlette
typing-extensions
ujson
update-checker
urllib3
uvicorn
watchgod
websocket-client
websockets
wheel
yarg

